body {
	background: #ffff96;
}
form {
	position: absolute;
	top: 6.5%;
	left: 35%;
	border: 2px solid;
	background: #da794f;
}
div {
	position: absolute;
	top: 15%;
	height: 80%;
	border: 2px solid;
	text-align: center;
	border-radius: 15px;
}
button {
	border-radius: 5px;
}
textarea {
	border-radius: 5px;
	border-style: inset;
	font-weight: bold;
	resize: none;
}
#dados {
	left: 0%;
	width: 33%;
	background: #ffc8c8;
}
#csv {
	left: 33.33%;
	width: 33%;
	background: #c8ffc8;
}
#faltas {
	left: 66.66%;
	width: 33%;
	background: #c8c8ff;
}